@import url("https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  font-family: "Parkinsans", sans-serif;
}
:root {
  --secondary-color: #95d2b3;
  /* --secondary-color: #79cba2; */
  --primary-color: #d8efd3;
  /* --primary-color: #364832; */
  --bacground-color: #c9eac2;
  /* --bacground-color: #1e2c1b; */
  --buttoncolor: #378575;
  /* --buttoncolor: #34695f; */
  --labelcolor: #499c8c;
  /* --labelcolor: #37684f; */
}
/* Scrollbar container */
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--buttoncolor);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #275f54;
}

::-webkit-scrollbar-thumb:active {
  background: #2e7d32;
}

.blur {
  filter: blur(3px) opacity(1);
}
body {
  background-color: var(--background-color);
}
.side-logo img {
  width: 100px;
  filter: invert(0) saturate(0);
}
.buttons {
  /* margin-left: 50vh; */
  display: flex;
  justify-content: center;
  gap: 15px;
}
body {
  display: flex;
  flex-direction: column;
}
.navbar div {
  display: flex;
}
.navbar div p {
  display: inline;
  justify-content: center;
  color: var(--buttoncolor);
  text-transform: capitalize;
}

.welcome {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.btn {
  background-color: var(--third-color);
  color: var(--buttoncolor);
}
.btn {
  cursor: pointer;
  border: 1px;
  border-radius: 2px;
  padding: 5px 25px;
  color: var(--secondary-color);
  background-color: var(--buttoncolor);
}
.btn:hover {
  box-shadow: 1px 1px 26px -6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 1px 1px 26px -6px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 1px 1px 26px -6px rgba(0, 0, 0, 0.3);
  transform: scale(1.1);
  transition: 0.5s ease;
}
.close-btn {
  font-size: 30px;
  cursor: pointer;
}
.container {
  display: flex;
  padding: 20px;
  flex-direction: column;
}
.TodaysMeetings .box,
.summary .box {
  display: flex;
  position: sticky;
  top: 0px;
  padding: 8px;
  justify-content: center;
  background-color: var(--buttoncolor);
  font-weight: 600;
}
.TodaysMeetings label,
.summary .box {
  color: var(--secondary-color);
}
.TodaysMeetings {
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 300px;
  border-radius: 5px;
  margin: 20px;
}
.meetings {
  display: flex;
}

.scrollto {
  overflow: scroll;
  overflow-x: hidden;
  background-color: var(--primary-color);
}
.summary {
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  margin: 20px;
  width: 40%;
  height: 300px;
}
.meet {
  display: flex;
  text-align: center;
  justify-content: space-around;
  gap: 10px;
  align-items: center;
  margin: 10px;
  border-radius: 5px;
  padding: 10px;
  background-color: var(--secondary-color);
}
.user-logo {
  width: 30px;
  height: 30px;
  margin-top: 10px;
  margin-left: 10px;
  cursor: pointer;
}
.navbar {
  display: flex;
  background-color: var(--secondary-color);
  border-radius: 10px;
  justify-content: space-between;
  padding: 9px;
  gap: 500px;
  margin: 0;
  justify-content: space-between;
  align-items: center;
}
.form-input form {
  /* display: ; */
  background-color: var(--labelcolor);
  display: none;
  /* display: flex; */
  flex-direction: column;
  width: 400px;
  position: absolute;
  bottom: 30vh;
  left: 70vh;
  margin-top: 200px;
  gap: 15px;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.meeting-name,
.date-in,
.Textarea {
  width: 250px;
  padding: 5px;
  border-radius: 5px;
  border: none;
}
/* .meeting-name:do */

textarea {
  resize: none;
}
