@import url("https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --secondary-color: #95d2b3;
  /* --secondary-color: #79cba2; */
  --primary-color: #d8efd3;
  /* --primary-color: #364832; */
  --background-color: #c9eac2;
  /* --bacground-color: #1e2c1b; */
  --buttoncolor: #378575;
  /* --buttoncolor: #34696f; */
  --labelcolor: #499c8c;
  /* --labelcolor: #37684f; */
}
body {
  overflow: hidden;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
  /* justify-content: center; */
}
* {
  font-family: "Parkinsans", sans-serif;
  transition: 0.5s ease;
}
.logincontainer {
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  padding: 60px 0px;
  border-radius: 10px;
  align-items: center;
  width: 400px;
  margin-left: 400px;
  margin-top: 10vh;
  text-align: center;
  gap: 10px;
}
.box {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 200px;
  cursor: pointer;
}
.btn {
  width: 120px;
  cursor: pointer;
  border: 1px;
  border-radius: 2px;
  padding: 5px;
  text-align: center;
  /* padding: ; */
}
.logo img {
  width: 100px;
  height: 100px;
}
.btn:hover {
  background-color: var(--buttoncolor);
}
.box input {
  padding: 5px;
  border-radius: 5px;
  border: none;
}

.logincontainer footer {
  /* position: fixed; */
  top: 440px;
  font-size: 10px;
  text-align: center;
  /* left: 380px; */
  color: black;
}
.box label {
  position: relative;
  /* top: 25px; */
  left: 10px;
}
.none {
  display: none;
}

@import url("https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  font-family: "Parkinsans", sans-serif;
}

/* Scrollbar container */
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--buttoncolor);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #275f54;
}

::-webkit-scrollbar-thumb:active {
  background: #183932;
}

.blur {
  filter: blur(3px) opacity(1);
}
body {
  background-color: var(--background-color);
}
.side-logo img {
  width: 100px;
  filter: invert(0) saturate(0);
}
.buttons {
  /* margin-left: 50vh; */
  display: flex;
  justify-content: center;
  gap: 15px;
}

.navbar div {
  margin-right: 30px;
  justify-content: center;
  text-align: center;
  /* padding: 0; */
  align-items: center;
  display: flex;
  /* width: 200px; */
  z-index: 1000;
}
.navbar div p {
  display: inline;
  justify-content: center;
  color: var(--buttoncolor);
  text-transform: capitalize;
}

.welcome {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.btn {
  background-color: var(--third-color);
  color: var(--buttoncolor);
  font-size: 10px;
}
.darkmodebtn {
  /* display: ; */
  text-align: center;
  box-shadow: 1px 1px 26px -6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 1px 1px 26px -6px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 1px 1px 26px -6px rgba(0, 0, 0, 0.3);
  font-size: 10px;
  cursor: pointer;
  padding: 10px;
  /* margin-top: 20px; */
  margin-right: 10px;
  color: var(--secondary-color);
  background-color: var(--buttoncolor);
  border: none;
  border-radius: 5px;
}
.btn {
  box-shadow: 1px 1px 26px -6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 1px 1px 26px -6px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 1px 1px 26px -6px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  font-size: 14px;
  border: 1px;
  border-radius: 2px;

  color: var(--secondary-color);
  background-color: var(--buttoncolor);
}
.btn:hover {
  transform: scale(1.1);
  transition: 0.5s ease;
}
.close-btn {
  font-size: 30px;
  cursor: pointer;
}
.container {
  width: 1000px;
  display: flex;
  /* padding: 10px; */
  flex-direction: column;
}
.content {
  display: none;
  align-items: center;
  justify-content: center;
}
.TodaysMeetings .box,
.summary .box {
  display: flex;
  position: sticky;
  top: 0px;
  width: 100%;
  text-align: center;
  padding: 8px;
  justify-content: center;
  background-color: var(--buttoncolor);
  font-weight: 600;
}
.TodaysMeetings label,
.summary .box {
  color: var(--secondary-color);
}
.TodaysMeetings {
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 300px;
  border-radius: 5px;
  margin: 20px;
}
.meetings {
  display: flex;
}

.scrollto {
  overflow: scroll;
  overflow-x: hidden;
  background-color: var(--primary-color);
}
.summary {
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  margin: 20px;
  width: 50%;
  height: 290px;
}
.downpopup {
  display: none;
  color: var(--secondary-color);
  background-color: var(--buttoncolor);
  letter-spacing: 1.5px;
  text-transform: capitalize;
  padding: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  position: absolute;
  margin-left: 400px;
  transition: 1.1s ease-in-out;ss
}
.popup-button {
  position: fixed;
  bottom: -50px; /* Place it below the screen */
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  background-color: #378575;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: bottom 0.5s ease-in-out;
}

.meet {
  display: flex;
  text-align: center;
  justify-content: space-around;
  gap: 10px;
  align-items: center;
  margin: 10px;
  border-radius: 5px;
  padding: 10px;
  background-color: var(--secondary-color);
}
.user-logo {
  width: 30px;
  height: 30px;
  filter: saturate(0) contrast(1) brightness(0.5);
  margin-left: 10px;
  cursor: pointer;
}
.navbar {
  background-color: var(--secondary-color);
  border-radius: 10px;
  justify-content: space-between;
  padding: 9px;
  position: sticky; /* Make it sticky */
  top: 0; /* Stick it to the top */
  z-index: 1000; /* Ensure it stays above other content */
  display: flex; /* Make sure it's visible */
  width: 100%;
  align-items: center;
  gap: 20px; /* Adjust the gap if needed */
}
.form-input form {
  /* display: ; */
  background-color: var(--labelcolor);
  display: none;
  /* display: flex; */
  flex-direction: column;
  width: 400px;
  position: absolute;
  bottom: 30vh;
  left: 70vh;
  margin-top: 200px;
  gap: 15px;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.meeting-name,
.date-in,
.Textarea {
  width: 250px;
  padding: 5px;
  border-radius: 5px;
  border: none;
}
/* .meeting-name:do */

textarea {
  resize: none;
}
